sphinx==9.1.0
sphinx-copybutton==0.5.2
sphinx-rtd-theme==3.1.0
sphinxcontrib-napoleon==0.7
myst-parser==5.1.0
nbsphinx==0.9.8
autodoc==0.5.0

# turbocluster requirements
scipy
numpy
h5py
astropy
paicos
